img {
  width:var(--card-width);
  max-height: var(--card-height);

  -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";

}

