<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!--<button (click)="draw()">Draw </button>-->

  <!--<div *ngFor="let card of drawn">-->
    <!--<app-card [value]="card.value" [image]="card.image" [suit]="card.suit" [code]="card.code"></app-card>-->
  <!--</div>-->
  <div id="main-content">

  <div id = "gamearea">

  <div #dealer id="dealer" class="card-box">
    <div class="card-info">
<ion-button (click)="reset()" [disabled]="!playerStand || !dealerStand"> Reset </ion-button>
    </div>

    <div class="card-container">
    <app-card  *ngFor="let card of dealerCards; let i = index" [gameCard]="card" [ngStyle]="{'z-index':cardStyle(i)}"></app-card>
    </div>

    <div class="card-info">
      <div class="score">
      Dealer: <ion-badge> {{dealerScore}} </ion-badge>
      </div>
    </div>

  </div>


    <div #action id="action">
      <ion-button shape="round" color="primary" fill="solid" class="gamebtn" [disabled]="playerStand || !betLocked" (click)="playerPlay()"> Hit </ion-button>
      <ion-button shape="round" color="danger" fill="solid" class="gamebtn" [disabled]="playerStand || !betLocked" (click)="dealerPlay()"> Stand </ion-button>
    </div>

    <div #betChip id="betChip">
      <div *ngIf="!betLocked else pBet">
      <ion-range min="5" [max]="playerMoney" step="5" pin="true" [(ngModel)]="betAmt" color="dark"></ion-range>
      <ion-button color="light" fill="solid" class="gamebtn" [disabled]="playerStand || betLocked" (click)="bet(betAmt)"> Bet </ion-button>
      <ion-badge color="primary" id="betText" margin-end="auto">Bet: {{betAmt}}</ion-badge>
      </div>

      <ng-template #pBet padding margin>
        <ion-text color="success">
          <h4> You Bet: {{playerBet}}</h4>
        </ion-text>
        <div id="chips">
        <app-chip *ngFor="let value of awardChip(playerBet)" [value]="value"></app-chip>
        </div>
      </ng-template>
    </div>

  <div #player id="player" class="card-box">
    <div class="card-info">

    </div>

    <div class="card-container">
    <app-card  *ngFor="let card of playerCards; let i = index" [gameCard]="card" [ngStyle]="{'z-index':cardStyle(i)}"></app-card>
    </div>

    <div class="card-info">
      <div class="score">
      Player: <ion-badge> {{playerScore}} </ion-badge>
    </div>
      <ion-text>
      <h4>
        Bank: ${{playerMoney}}
      </h4>
      </ion-text>
    </div>
  </div>

  </div>

  </div>




</ion-content>
